body {
  text-align: center;
  background: url("./other/pig.jpg");
  height: 100vh;
  background-size: cover;
}

#game-name {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-style: italic;
  color: rgb(255, 99, 71);
}

#dice1 {
  position: absolute;
  left: 47%;
  top: 170px;
  height: 100px;
  width: 100px;
}

#dice2 {
  position: absolute;
  left: 47%;
  top: 300px;
  height: 100px;
  width: 100px;
}

#announce {
  margin: auto;
  padding: 0;
  font-weight: bold;
  text-align: center;
  width: 600px;
  border: 1px black solid;
  border-radius: 10px;
  background: #00ffff;
}
#prestart-image {
  position: absolute;
  left: 47%;
  top: 140px;
  height: 105px;
  width: 105px;
  background: violet;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  z-index: 2;
}

#prestart-image2 {
  position: absolute;
  left: 47%;
  top: 270px;
  height: 105px;
  width: 105px;
  background: violet;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  z-index: 2;
}

/*-----------------------------------Player details screen --------------------------------------------*/

.container {
  display: relative;
  background: pink;
  border: 1px pink solid;
  border-radius: 10px;
}

.player-description {
  font-style: italic;
}

/* Player 1 */
.player-0 {
  background: rgb(219, 129, 129);
  padding: 0;
  border-radius: 10px;
  width: 50%;
  height: 350px;
  float: left;
  font-size: 30px;
}

.player-0#player-active {
  background: rgb(255, 0, 0);
}

/* Player 2 */
.player-1 {
  background: rgb(202, 193, 138);
  padding: 0;
  border-radius: 10px;
  height: 350px;
  width: 50%;
  float: right;
  font-size: 30px;
}

#player-active {
  background: rgb(255, 215, 0);
}

/* Player 3 */

.player-2 {
  background: rgb(172, 197, 147);
  padding: 0;
  border-radius: 10px;
  width: 50%;
  height: 350px;
  float: left;
  font-size: 30px;
}

.player-2#player-active {
  background: rgb(124, 252, 0);
}

/* Player 4 */

.player-3 {
  background: rgb(154, 154, 223);
  padding: 0;
  border-radius: 10px;
  width: 50%;
  height: 350px;
  float: left;
  font-size: 30px;
}

.player-3#player-active {
  background: rgb(0, 0, 205);
}

/*------------------------------------------------------------------------------------------------*/
.button {
  padding: 0;
  width: 100px;
  height: 50px;
  text-align: center;

  border: 1px #333 solid;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
}

#player-roll:hover,
#player-pass:hover,
#player-reset:hover {
  background: turquoise;
  cursor: pointer;
}

#player-roll {
  position: absolute;
  background: magenta;
  left: 47%;
  top: 420px;
}

#player-pass {
  position: absolute;
  background: springgreen;
  left: 47%;
  top: 480px;
}

#player-reset {
  position: absolute;
  background: gray;
  left: 15px;
  top: 20px;
}

#current-score-player0,
#current-score-player1,
#current-score-player2,
#current-score-player3 {
  background: #f4f4f4;
  text-align: center;
  border: 2px pink solid;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

#total-score-player0,
#total-score-player1,
#total-score-player2,
#total-score-player3 {
  font-weight: bold;
  display: block;
  height: 100px;
}

#boom {
  position: absolute;
  left: 40%;
  top: 400px;
  height: 125px;
  width: 300px;
  color: black;
  background: firebrick;
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  z-index: 2;
}

/*=============================================================================================*/

#show-intro-page {
  margin-top: 0px;
  background: -webkit-radial-gradient(
    center,
    rgba(30, 144, 255, 0.4),
    rgba(30, 144, 255, 1)
  );
}
.show-player-selection,
.show-mode-selection,
#to-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player-selector,
#mode-selector {
  display: inline-block;
  padding: 0;
  margin-left: 0px;
  font-weight: bold;
  font-size: 25px;
}

.start-game {
  padding: 0;
  margin-left: 0px;
  font-weight: bold;
  font-size: 30px;
  border: 2px black solid;
  border-radius: 10px;
  width: 200px;
  background: #b0c4de;
}

.start-game:hover {
  background: red;
  cursor: pointer;
}

li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  /* margin-left: 15px; */
  padding: 0;
  border: 2px black solid;
  border-radius: 10px;
  width: 90px;
  background: #b0c4de;
  font-style: italic;
}

li:hover {
  background: red;
  cursor: pointer;
}

.pig-mode {
  background: yellow;
}

.player2 {
  background: yellow;
}
/* #player-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 0px;
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 10px auto;
  margin-left: 15px;
  padding: 0;
  border: 2px black solid;
  border-radius: 10px;
  width: 70px;
} */
