/* box margin*/
/* text size*/
/* color contrast*/

body {
  text-align: center;
  background: url("./other/pig.jpg");
  margin: 0 0;
  padding: 0;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

#game-name {
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  font-style: italic;
  color: rgb(255, 99, 71);
}

#dice1 {
  position: absolute;
  left: 47%;
  top: 170px;
  height: 100px;
  width: 100px;
}

#dice2 {
  position: absolute;
  left: 47%;
  top: 300px;
  height: 100px;
  width: 100px;
}

#announce {
  margin: auto;
  padding: 0;
  font-weight: bold;
  text-align: center;
  width: 600px;
  border: 1px black solid;
  border-radius: 10px;
  background: #778899;
}
#prestart-image {
  position: absolute;
  left: 47%;
  top: 140px;
  height: 105px;
  width: 105px;
  background: violet;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  z-index: 2;
}

#prestart-image2 {
  position: absolute;
  left: 47%;
  top: 270px;
  height: 105px;
  width: 105px;
  background: violet;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  z-index: 2;
}

/*-----------------------------------Player details screen --------------------------------------------*/

.container {
  display: relative;
  background: pink;
  border: 1px pink solid;
  border-radius: 10px;
  width: 99vw;
}

.player-description {
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}

/* Player 1 */
.player-0 {
  position: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(219, 129, 129);
  padding: 0;
  border-radius: 10px;
  width: 50%;
  height: 335px;
  float: left;
  font-size: 30px;
}

.player-0#player-active {
  background: rgb(255, 0, 0);
}

/* Player 2 */
.player-1 {
  background: rgb(202, 193, 138);
  padding: 0;
  border-radius: 10px;
  height: 335px;
  width: 50%;
  float: right;
  font-size: 30px;
}

#player-active {
  background: rgb(255, 215, 0);
}

/* Player 3 */

.player-2 {
  background: rgb(172, 197, 147);
  padding: 0;
  border-radius: 10px;
  width: 50%;
  height: 335px;
  float: left;
  font-size: 30px;
}

.player-2#player-active {
  background: rgb(124, 252, 0);
}

/* Player 4 */

.player-3 {
  background: rgb(154, 154, 223);
  padding: 0;
  border-radius: 10px;
  width: 50%;
  height: 335px;
  float: left;
  font-size: 30px;
}

.player-3#player-active {
  background: rgb(40, 40, 235);
}

/*----------------------------------In game mode buttons & scores ------------------------------------------*/

#win-score {
  position: absolute;
  background: plum;
  font-weight: bold;
  font-size: 20px;
  border: 1px black solid;
  border-radius: 5px;
  width: 200px;
  right: 15px;
  top: 20px;
}
.button {
  padding: 0;
  width: 100px;
  height: 50px;
  text-align: center;

  border: 1px #333 solid;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
}

#player-roll:hover,
#player-pass:hover,
#player-reset:hover {
  background: turquoise;
  cursor: pointer;
}

#player-roll {
  position: absolute;
  background: magenta;
  left: 47%;
  top: 420px;
}

#player-pass {
  position: absolute;
  background: springgreen;
  left: 47%;
  top: 480px;
}

#player-reset {
  position: absolute;
  background: gray;
  left: 15px;
  top: 20px;
}

#current-score-player0,
#current-score-player1,
#current-score-player2,
#current-score-player3 {
  background: #f4f4f4;
  text-align: center;
  border: 2px pink solid;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
}

#total-score-player0,
#total-score-player1,
#total-score-player2,
#total-score-player3 {
  font-weight: bold;
  display: block;
  height: 100px;
  font-size: 40px;
}

#boom {
  position: absolute;
  left: 40%;
  top: 400px;
  height: 125px;
  width: 300px;
  color: black;
  background: firebrick;
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  z-index: 2;
}

/*============================ INTRO PAGE CSS =================================================*/

#show-intro-page {
  margin: 0px auto;
  padding: 0px;
  width: 800px;
  border: 2px black solid;
  border-radius: 10px;
  background: -webkit-radial-gradient(
    center,
    rgba(30, 144, 255, 0.4),
    rgba(30, 144, 255, 1)
  );
  background: -moz-radial-gradient(
    center,
    rgba(30, 144, 255, 0.4),
    rgba(30, 144, 255, 1)
  );
}

#intro-announce {
  font-style: italic;
}
.show-player-selection,
.show-mode-selection,
#to-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player-selector,
#mode-selector {
  display: inline-block;
  padding: 0;
  margin-left: 0px;
  font-weight: bold;
  font-size: 25px;
}

.start-game {
  padding: 0;
  margin-left: 0px;
  font-weight: bold;
  font-size: 30px;
  border: 2px black solid;
  border-radius: 10px;
  width: 200px;
  background: #b0c4de;
  animation: start-game 2s ease-out infinite;
}

.start-game:hover {
  background: red;
  cursor: pointer;
}

@keyframes start-game {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

li,
.about {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;

  padding: 0;
  border: 2px black solid;
  border-radius: 10px;
  width: 100px;
  background: #b0c4de;
  font-style: italic;
}

li:hover,
.about:hover {
  background: red;
  cursor: pointer;
}

.about {
  font-size: 20px;
  font-weight: bold;
}

.pig-mode {
  background: yellow;
}

.two-dice-pig-mode {
  width: 150px;
}

.player1 {
  background: yellow;
}

#player0-name,
#player1-name,
#player2-name,
#player3-name {
  color: red;
  background: lime;
  font-weight: bold;
  border: 2px black solid;
  border-radius: 7px;
  height: 25px;
}

.select-name0,
.select-name1,
.select-name2,
.select-name3 {
  font-size: 25px;
  font-weight: bold;
}

.playernamechoose1,
.playernamechoose2 {
  display: block;
  margin: 10px 10px;
  margin-left: 30px;
  text-align: left;
}
/*=============================== About Page CSS ===================================== */

#about-description {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  border: 2px black solid;
  border-radius: 10px;
  width: 800px;
  margin: auto;

  background: #b0c4de;
  font-style: italic;
}

#game-rule {
  font-size: 40px;
}

.off-about {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  border: 2px black solid;
  border-radius: 10px;
  width: 100px;
  margin: auto;
  /* text-align: center; */
  background: #f4f4f4;
}

.off-about:hover {
  background: red;
  cursor: pointer;
}

#rule-description {
  display: block;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: square;
}

#rule-description:hover {
  cursor: none;
  background: none;
}

/*======================= Manipulate colours via jS======================================= */

.bg-yellow {
  background: yellow;
}
.bg-grey {
  background: #b0c4de;
}
.bg-red {
  background: red;
}
.bg-gold {
  background: gold;
}
.bg-lawngreen {
  background: lawngreen;
}
.bg-mediumblue {
  background: mediumblue;
}

/*=============================== Gamble page ===================================== */

.flashpointevent {
  position: absolute;
  left: 40%;
  top: 400px;
  height: 200px;
  width: 300px;
  color: black;
  background: pink;
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  z-index: 2;
}

.accept-gamble {
  background: #87cefa;
  border: 1px black solid;
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.decline-gamble {
  background: #87cefa;
  width: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
  border-radius: 5px;
}

.accept-gamble:hover {
  background: lime;
  cursor: pointer;
}

.decline-gamble:hover {
  background: lightcoral;
  cursor: pointer;
}
